.idea

pi/ssl/ca.key
pi/ssl/ca.pem
pi/ssl/pi.lan.key
pi/ssl/pi.lan.csr
pi/ssl/pi.lan.crt
pi/ssl/ca.srl

docker/archivebox/data
docker/freshrss/data
docker/freshrss/extensions
docker/heimdall/config
docker/jellyfin/config
docker/jellyfin/media
docker/nginx/certs
docker/nginx/private
docker/pihole/dnsmasq.d
docker/pihole/pihole
docker/postgres/data
docker/redis/data
docker/vaultwarden/data
docker/**/.env

**/*.swp

**/*.save
