**/.env

archivebox/data

fireflyiii/upload

freshrss/data
freshrss/extensions

heimdall/config

jellyfin/config
jellyfin/movies
jellyfin/tvshows

nextcloud/html

nginx/certs
nginx/private

pihole/dnsmasq.d
pihole/pihole

postgres/data

redis/data

vaultwarden/data

ca.key
ca.pem
ca.srl
pi.lan.csr
pi.lan.ext
