.idea
**/.env
**/dist

docker/archivebox/data
docker/freshrss/data
docker/freshrss/extensions
docker/heimdall/config
docker/jellyfin/config
docker/jellyfin/movies
docker/jellyfin/tvshows
docker/nginx/certs
docker/nginx/private
docker/pihole/dnsmasq.d
docker/pihole/pihole
docker/postgres/data
docker/redis/data
docker/vaultwarden/data

ca.key
ca.pem
ca.srl
pi.lan.csr
pi.lan.ext

playwright/data
playwright/node_modules
playwright/.tsimp
